<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="system.web">
      <section name="sanitizer" requirePermission="false" type="AjaxControlToolkit.Sanitizer.ProviderSanitizerSection, AjaxControlToolkit"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <!-- FUSP -->
    <add key="smtpfusp" value="smtplw.com.br" />
    <add key="fromfusp" value="fusp@fusp.org.br" />
    <add key="usuarioSmtpfusp" value="admfusp" />
    <add key="senhaSmtpfusp" value="ALTOcRkj3004" />
    <add key="portafusp" value="587" />
    <!--END FUSP -->

    <!-- CIRCULAR -->
    <add key="smtpcircular" value="smtplw.com.br" />
    <add key="fromcircular" value="circular@fusp.org.br" />
    <add key="usuarioSmtpcircular" value="admfusp" />
    <add key="senhaSmtpcircular" value="ALTOcRkj3004" />
    <add key="portacircular" value="587" />
    <!--END CIRCULAR -->

    <!-- BOLETO -->
    <add key="smtpboleto" value="smtp.fusp.org.br" />    
    <add key="fromboleto" value="boleto@fusp.org.br" />
    <add key="usuarioSmtpboleto" value="marcelo.patricio@fusp.org.br" />
    <add key="senhaSmtpboleto" value="Kavera99" />
    <add key="portaboleto" value="587" />
    <!--END BOLETO -->
  </appSettings>
  <connectionStrings>
    <add name="Contexto1" connectionString="Data Source=SRVSQL2014;Initial Catalog=Medusa_teste; Persist Security Info=True;Timeout=60;User ID=sa;Password=Pankada$01;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="Contexto" connectionString="Data Source=SRVSQL2014;Initial Catalog=Medusa; Persist Security Info=True;Timeout=60;User ID=sa;Password=Pankada$01;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add verb="*" path="ImagemCodigoBarra.ashx" validate="false" type="BoletoNet.ImagemCodigoBarraHandler"/>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false"/>
    </httpHandlers>
    <pages theme="Tema" controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add src="~/Controles/NestedControles/Texto.ascx" tagName="cTexto" tagPrefix="ctx"/>
        <add src="~/Controles/Inteiro.ascx" tagName="cInteiro" tagPrefix="cint"/>
        <add src="~/Controles/NestedControles/Telefone.ascx" tagName="cTelefone" tagPrefix="ctel"/>
        <add src="~/Controles/NestedControles/Email.ascx" tagName="cEmail" tagPrefix="cem"/>
        <add src="~/Controles/Valor.ascx" tagName="cValor" tagPrefix="cvl"/>
        <add src="~/Controles/Data.ascx" tagName="cData" tagPrefix="cdt"/>
        <add src="~/Controles/DdlSetor.ascx" tagName="cDdlSetor" tagPrefix="cddlSetor"/>
        <add src="~/Controles/DdlSexo.ascx" tagName="cDdlSexo" tagPrefix="cddlSexo"/>
        <add src="~/Controles/DdlUsuarioFUSP.ascx" tagName="cDdlUsuarioFUSP" tagPrefix="cDdlUsuarioFUSP"/>
        <add src="~/Controles/DdlPagina.ascx" tagName="cDdlPagina" tagPrefix="cddlPagina"/>
        <add src="~/Controles/DdlAgencias.ascx" tagName="cDdlAgencias" tagPrefix="cDdlAgencias"/>
        <add src="~/Controles/DdlBancos.ascx" tagName="cDdlBancos" tagPrefix="cddlBancos"/>
        <add src="~/Controles/DdlTipoLancto.ascx" tagName="cDdlTipoLancto" tagPrefix="cDdlTipoLancto"/>
        <add src="~/Controles/DdlTipoImportacao.ascx" tagName="cDdlTipoImportacao" tagPrefix="cDdlTipoImportacao"/>
        <add src="~/Controles/ControleCNPJ.ascx" tagName="cCNPJ" tagPrefix="cCnpj"/>
        <add src="~/Controles/DdlTipoConta.ascx" tagName="cDdlTipoConta" tagPrefix="cDdlTipoConta"/>
        <add src="~/Controles/DdlContas.ascx" tagName="cDdlConta" tagPrefix="cDdlConta"/>
        <add src="~/Controles/ControleCPF.ascx" tagName="cCPF" tagPrefix="cCpf"/>
        <add src="~/Controles/ListaEmails.ascx" tagName="cListaEmails" tagPrefix="cListaemails"/>
        <add src="~/Controles/ListaPessoaEmails.ascx" tagName="cListaPessoaEmails" tagPrefix="cListaPessoaEmails"/>
        <add src="~/Controles/ListaTelefones.ascx" tagName="cListaTelefones" tagPrefix="cListatelefones"/>
        <add src="~/Controles/ListaPessoaTelefones.ascx" tagName="cListaPessoaTelefones" tagPrefix="cListaPessoaTelefones"/>
        <add src="~/Controles/DdlMoeda.ascx" tagName="cDdlMoeda" tagPrefix="cddlMoeda"/>
        <add src="~/Controles/DdlAtuacao.ascx" tagName="cDdlAtuacao" tagPrefix="cddlAtuacao"/>
        <add src="~/Controles/DdlDocumento.ascx" tagName="cDdlDocumento" tagPrefix="cddlDocumento"/>
        <add src="~/Controles/DdlNatureza.ascx" tagName="cDdlNatureza" tagPrefix="cddlNatureza"/>
        <add src="~/Controles/DdlNaturezaProjeto.ascx" tagName="cDdlNaturezaProjeto" tagPrefix="cddlNaturezaProjeto"/>
        <add src="~/Controles/DdlClassificacao.ascx" tagName="cDdlClassificacao" tagPrefix="cddlClassificacao"/>
        <add src="~/Controles/DdlBeneficiario.ascx" tagName="cDdlBeneficiario" tagPrefix="cDdlBeneficiario"/>
        <add src="~/Controles/DdlBolsas.ascx" tagName="cDdlBolsas" tagPrefix="cddlBolsas"/>
        <add src="~/Controles/DdlUF.ascx" tagName="cDdlUFs" tagPrefix="cDdlUFs"/>
        <add src="~/Controles/NestedControles/DdlPaises.ascx" tagName="cDdlPaises" tagPrefix="cDdlPaises"/>
        <add src="~/Controles/DdlUnidades.ascx" tagName="cDdlUnidades" tagPrefix="cDdlUnidades"/>
        <add src="~/Controles/DdlDepartamento.ascx" tagName="cDdlDepartamento" tagPrefix="cDdlDepartamento"/>
        <add src="~/Controles/DdlLaboratorios.ascx" tagName="cDdlLaboratorios" tagPrefix="cDdlLaboratorios"/>
        <add src="~/Controles/Endereco.ascx" tagName="cEnder" tagPrefix="cender"/>
        <add src="~/Controles/BarCode.ascx" tagName="cBarCode" tagPrefix="cbarcode"/>
        <add src="~/Controles/DdlFinalidadePagto.ascx" tagName="cDdlFinalidade" tagPrefix="cddlFinalidade"/>
        <add src="~/Controles/DdlMotivoDevol.ascx.ascx" tagName="cDdlMotivoDevol" tagPrefix="cddlMotivoDevol"/>
        <add src="~/Controles/DdlTipoPagto.ascx" tagName="cDdlTipoPagto" tagPrefix="cddlTipoPagto"/>
        <add src="~/Controles/DdlFormaPagto.ascx" tagName="cDdlFormaPagto" tagPrefix="cddlFormaPagto"/>
        <add src="~/Controles/DdlTiposRetorno.ascx" tagName="cDdlTiposRetorno" tagPrefix="cddlTiposRetorno"/>
        <add src="~/Controles/Pesquisa/PesquisaOrigemEmail.ascx" tagName="cPesqOrigemEmail" tagPrefix="cPesqOrigemEmail"/>
        <add src="~/Controles/Pesquisa/PesquisaSacado.ascx" tagName="cPesqSacado" tagPrefix="cPesqSacado"/>
        <add src="~/Controles/DdlInstrumentoContratual.ascx" tagName="cDdlInstrumentoContratual" tagPrefix="cddlInstrumentoContratual"/>
        <add src="~/Controles/ControleBoletos.ascx" tagName="cControleBoletos" tagPrefix="cControleBoletos"/>
        <add src="~/Controles/DdlProjeto.ascx" tagName="cDdlProjeto" tagPrefix="cddlProjeto"/>
        <add src="~/Controles/DdlVagas.ascx" tagName="cDdlVagas" tagPrefix="cddlVagas"/>
        <add src="~/Controles/DdlTipoCoordenadores.ascx" tagName="cDdlTipoCoordenadores" tagPrefix="cddlTipoCoordenadores"/>
        <add src="~/Controles/DdlClassificacaoVaga.ascx" tagName="cDdlClassificacaoVaga" tagPrefix="cddlClassificacaoVaga"/>
        <add src="~/Controles/DdlModalidadeCompra.ascx" tagName="cDdlModalidadeCompra" tagPrefix="cddlModalidadeCompra"/>
        <add src="~/Controles/DdlPACDestino.ascx" tagName="cDdlPACDestino" tagPrefix="cddlPACDestino"/>
        <add src="~/Controles/ContaPessoa/ControleContaPessoa.ascx" tagName="cControleContaPessoa" tagPrefix="cContaPessoa"/>
        <add src="~/Sistemas/SCP/ControleInstrumentosContratuais.ascx" tagName="cInstrumentosContratuais" tagPrefix="cInstrumentosContratuais"/>
        <add src="~/Sistemas/SCP/ControleAtuacoes.ascx" tagName="cControleAtuacoes" tagPrefix="cControleAtuacoes"/>
        <add src="~/Sistemas/SCP/ControleClassificacoes.ascx" tagName="cControleClassificacoes" tagPrefix="cControleClassificacoes"/>
        <add src="~/Sistemas/SCP/ControleContatos.ascx" tagName="cControleContatos" tagPrefix="cControleContatos"/>
        <add src="~/Sistemas/SCP/ControleCoordenadores.ascx" tagName="cControleCoordenadores" tagPrefix="cControleCoordenadores"/>
        <add src="~/Sistemas/SCP/ControleDepartamentos.ascx" tagName="cControleDepartamentos" tagPrefix="cControleDepartamentos"/>
        <add src="~/Sistemas/SCP/ControleFinanciadores.ascx" tagName="cControleFinanciadores" tagPrefix="cControleFinanciadores"/>
        <add src="~/Sistemas/SCP/ControleLaboratorios.ascx" tagName="cControleLaboratorios" tagPrefix="cControleLaboratorios"/>
        <add src="~/Sistemas/SCP/ControleNaturezas.ascx" tagName="cControleNaturezas" tagPrefix="cControleNaturezas"/>
        <add src="~/Sistemas/SCP/ControleUnidades.ascx" tagName="cControleUnidades" tagPrefix="cControleUnidades"/>
        <add src="~/Controles/Contratos/ControleContratoPagamento.ascx" tagName="cControleContratoPagamento" tagPrefix="cControleContratoPagamento"/>
        <add src="~/Controles/DdlTipoContratos.ascx" tagName="ddlTipoContratos" tagPrefix="DdlTipoContratos"/>
        <add src="~/Controles/DdlCategorias.ascx" tagName="ddlCategorias" tagPrefix="DdlCategorias"/>
        <add src="~/Controles/DdlRamoAtividades.ascx" tagName="ddlRamoAtividades" tagPrefix="DdlRamoAtividades"/>
        <add src="~/Controles/DdlDocumentosCategorias.ascx" tagName="ddlDocumentosCategorias" tagPrefix="DdlDocumentosCategorias"/>
        <add src="~/Controles/DdlStatusSolicitacao.ascx" tagName="cDdlStatusSolicitacao" tagPrefix="cDdlStatusSolicitacao"/>
        <add src="~/Controles/DdlFinanciador.ascx" tagName="cDdlFinanciador" tagPrefix="cDdlFinanciador"/>
        <add src="~/Controles/Pesquisa/PesquisaCoordenador.ascx" tagName="cPesqCoordenador" tagPrefix="cPesqCoordenador"/>
        <add src="~/Controles/DdlTipoSolicitacao.ascx" tagName="cDdlTipoSolicitacao" tagPrefix="cDdlTipoSolicitacao"/>
        <add src="~/Controles/DdlProjetoSolicitacao.ascx" tagName="cDdlProjetoSolicitacao" tagPrefix="cDdlProjetoSolicitacao"/>
        <add src="~/Controles/DdlCategorias.ascx" tagName="cDdlCategorias" tagPrefix="cDdlCategorias"/>
        <add src="~/Controles/DdlStatusFornecedores.ascx" tagName="cddlStatusFornecedores" tagPrefix="cDdlStatusFornecedores"/>
        <add src="~/Controles/DdlEventos.ascx" tagName="cDdlEventos" tagPrefix="cDdlEventos"/>
        <add src="~/Controles/DdlCoordenadores.ascx" tagName="cDdlCoordenador" tagPrefix="cDdlCoordenador"/>
        <add src="~/Controles/DdlTipoEndereco.ascx" tagName="cDdlTipoEndereco" tagPrefix="cDdlTipoEndereco"/>
        <add src="~/Controles/DdlStatusComodato.ascx" tagName="cDdlStatusComodato" tagPrefix="cDdlStatusComodato"/>
        <add src="~/Controles/DdlPlanoConta.ascx" tagName="cDdlPlanoConta" tagPrefix="cDdlPlanoConta"/>
        <add src="~/Controles/DdlTaxaProjeto.ascx" tagName="cDdlTaxaProjeto" tagPrefix="cDdlTaxaProjeto"/>
        <add src="~/Controles/DdlAno.ascx" tagName="cDdlAno" tagPrefix="cDdlAno"/>
        <add src="~/Controles/DdlMes.ascx" tagName="cDdlMes" tagPrefix="cDdlMes"/>
        <add src="~/Controles/DdlStatusProjeto.ascx" tagName="cDdlStatusProjeto" tagPrefix="cDdlStatusProjeto"/>
        <add src="~/Sistemas/PessoaJuridica/ControleRepresentanteLegal.ascx" tagName="cControleRepresentanteLegal" tagPrefix="cControleRepresentanteLegal"/>
        <add src="~/Sistemas/PessoaJuridica/ControleSocios.ascx" tagName="cControleSocios" tagPrefix="cControleSocios"/>
        <add src="~/Sistemas/PessoaJuridica/ControleDiretor.ascx" tagName="cControleDiretor" tagPrefix="cControleDiretor"/>
        <add src="~/Controles/DdlContato.ascx" tagName="cDdlContato" tagPrefix="cDdlContato"/>
        <add src="~/Controles/DdlClassificacaoFusp.ascx" tagName="cDdlClassificacaoFusp" tagPrefix="cDdlClassificacaoFusp"/>
        <add src="~/Controles/DdlTiposAdiantamentos.ascx" tagName="cDdlTiposAdiantamentos" tagPrefix="cDdlTiposAdiantamentos"/>
        <add src="~/Controles/Pesquisa/PesquisaConta.ascx" tagName="cPesqConta" tagPrefix="cPesqConta"/>
        <add src="~/Controles/Log.ascx" tagName="cLog" tagPrefix="cLog"/>
        <add src="~/Controles/DdlTipoFolhaPagto.ascx" tagName="cDdlTipoFolhaPagto" tagPrefix="cDdlTipoFolhaPagto"/>
        <add src="~/Controles/DdlUnidadeMedida.ascx" tagName="cDdlUnidadeMedida" tagPrefix="cDdlUnidadeMedida"/>
        <add src="~/Controles/DdlMateriais.ascx" tagName="cDdlMateriais" tagPrefix="cDdlMateriais"/>
        <add src="~/Controles/DdlMaterialConsumo.ascx" tagName="cDdlMaterialConsumo" tagPrefix="cDdlMaterialConsumo"/>
        <add src="~/Controles/DdlTipoDespesas.ascx" tagName="cDdlTipoDespesas" tagPrefix="cDdlTipoDespesas"/>
        <add src="~/Sistemas/Almoxarifado/ControleMaterial.ascx" tagName="cControleMaterial" tagPrefix="cControleMaterial"/>
        <add src="~/Controles/DdlStatusRequisicao.ascx" tagName="cDdlStatusRequisicao" tagPrefix="cDdlStatusRequisicao"/>
        <add src="~/Controles/DdlTipoMateriais.ascx" tagName="cDdlTipoMateriais" tagPrefix="cDdlTipoMateriais"/>
        <add src="~/Sistemas/Almoxarifado/ControlesAlmoxarifado/ControleHistoricoRequisicao.ascx" tagName="cControleHistoricoRequisicao" tagPrefix="cControleHistoricoRequisicao"/>
        <add src="~/Controles/DdlNotasFiscais.ascx" tagName="cDdlNotasFiscais" tagPrefix="cDdlNotasFiscais"/>
        <add src="~/Sistemas/scfp/Controlesscfp/ControleFaixaTaxas.ascx" tagName="cControleFaixaTaxas" tagPrefix="cControleFaixaTaxas"/>
        <add src="~/Sistemas/scfp/Controlesscfp/ControleBaseCalculoDedutivel.ascx" tagName="cControleBaseCalculoDedutivel" tagPrefix="cControleBaseCalculoDedutivel"/>
        <add src="~/Controles/DdlTaxa.ascx" tagName="cDdlTaxa" tagPrefix="cDdlTaxa"/>
        <add src="~/Controles/DdlBaseCalculos.ascx" tagName="cDdlBaseCalculos" tagPrefix="cDdlBaseCalculos"/>
        <add src="~/Controles/DdlTipoDevolucao.ascx" tagName="cDdlTipoDevolucao" tagPrefix="cDdlTipoDevolucao"/>
        <add src="~/Controles/DdlStatusEntrada.ascx" tagName="cDdlStatusEntrada" tagPrefix="cDdlStatusEntrada"/>
        <add src="~/Controles/DdlProvidencia.ascx" tagName="cDdlProvidencia" tagPrefix="cDdlProvidencia"/>
        <add src="~/Controles/DdlUsuarioFuspEntradas.ascx" tagName="cDdlUsuarioFuspEntradas" tagPrefix="cDdlUsuarioFuspEntradas"/>
        <add src="~/Controles/DdlPossivelProvidencia.ascx" tagName="cDdlPossivelProvidencia" tagPrefix="cDdlPossivelProvidencia"/>
        <add src="~/Controles/DdlSetorEntrada.ascx" tagName="cDdlSetorEntrada" tagPrefix="cDdlSetorEntrada"/>
        <add src="~/Controles/DdlPlanoConta.ascx" tagName="cDdlPlanoConta" tagPrefix="cDdlPlanoConta"/>
        <add src="~/Controles/DdlStatusEditaisLic.ascx" tagName="cDdlStatusEditaisLic" tagPrefix="cDdlStatusEditaisLic"/>
        <add src="~/Sistemas/scfp/Controlesscfp/ControleBaseCalculoDedutivel.ascx" tagName="cControleBaseCalculoDedutivel" tagPrefix="cControleBaseCalculoDedutivel"/>
        <add src="~/Sistemas/scfp/Controlesscfp/ControleTabelas.ascx" tagName="cControleTabelas" tagPrefix="cControleTabelas"/>
        <add src="~/Controles/DdlTaxa.ascx" tagName="cDdlTaxa" tagPrefix="cDdlTaxa"/>
        <add src="~/Controles/DdlBaseCalculos.ascx" tagName="cDdlBaseCalculos" tagPrefix="cDdlBaseCalculos"/>
        <add src="~/Controles/DdlLancamentoTipo.ascx" tagName="cDdlLancamentoTipo" tagPrefix="cDdlLancamentoTipo"/>
        <add tagPrefix="boletoNet" assembly="Boleto.Net" namespace="BoletoNet"/>
        <add tagPrefix="rsweb" assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" namespace="Microsoft.Reporting.WebForms"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <httpRuntime executionTimeout="9999" maxRequestLength="104857600" requestLengthDiskThreshold="8192" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="90" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false"/>
    <sanitizer defaultProvider="HtmlAgilityPackSanitizerProvider">
      <providers>
        <add name="HtmlAgilityPackSanitizerProvider" type="AjaxControlToolkit.Sanitizer.HtmlAgilityPackSanitizerProvider"/>
      </providers>
    </sanitizer>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Home.aspx" name=".ASPXFORMSAUTH" defaultUrl="Home.aspx"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="104857600"/>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <system.serviceModel>
    <services/>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DebugEnabled">
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\log\Traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>