<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- FUSP -->
    <add key="smtpfusp" value="smtplw.com.br" />
    <add key="fromfusp" value="fusp@fusp.org.br" />
    <add key="usuarioSmtpfusp" value="admfusp" />
    <add key="senhaSmtpfusp" value="ALTOcRkj3004" />
    <add key="portafusp" value="587" />
    <!--END FUSP -->

    <!-- CIRCULAR -->
    <add key="smtpcircular" value="smtplw.com.br" />
    <add key="fromcircular" value="circular@fusp.org.br" />
    <add key="usuarioSmtpcircular" value="admfusp" />
    <add key="senhaSmtpcircular" value="ALTOcRkj3004" />
    <add key="portacircular" value="587" />
    <!--END CIRCULAR -->

    <!-- BOLETO -->
    <add key="smtpboleto" value="smtp.usp.br" />
    <add key="fromboleto" value="cneves@pqi.ep.usp.br" />
    <add key="usuarioSmtpboleto" value="marcelo.patricio.silva@usp.br" />
    <add key="senhaSmtpboleto" value="kapeta" />
    <add key="portaboleto" value="587" />
    <!--END BOLETO -->
  </appSettings>
</configuration>